@model MovieDetail;
@using MovieRecommender.Helper;
@{
    string tmdbImageUrlBase = "https://image.tmdb.org/t/p/w500";
    string defaultImageUrl = "https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80";
}

<div class="card mt-5 m-3 p-3 d-inline-flex bg-light bg-opacity-75">

    <div class="album py-2">
        <div class="d-flex flex-wrap">

                <div class="d-flex flex-row card mb-2 box-shadow m-2" style="width: 50rem;">

                    @if (!String.IsNullOrWhiteSpace(@Model.PosterPath))
                    {
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="width: 50%; display: inline-block;" src="@String.Concat(tmdbImageUrlBase, @Model.PosterPath)" data-holder-rendered="true">
                    }
                    else
                    {
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="width: 50%; min-height:inherit display: inline-block;" src="@defaultImageUrl" data-holder-rendered="true">
                    }

                    <div class="card-body d-flex align-items-start flex-column ms-3" style="width: 50%">
                    
                        <h1 class="card-title mb-3">@Model.Title</h1>

                        <div class="d-flex flex-row mb-3">
                            <p class="card-text text-muted m-0 p-0 pe-4">@StringFunctions.FormatMovieYear(@Model.ReleaseDate)</p>
                            <p class="card-text text-muted m-0 p-0 pe-4">@Model.Runtime minutes</p>
                            <p class="card-text text-muted m-0 p-0 pe-4">@Model.Rating.ToString()/10</p>
                        </div>

                        <div>
                            @*TODO: Add cast
                            top 5?
                            maybe add links to actor profile?
                            add way to search for movie with that actor in them?*@
                        </div>

                        <p class="card-text m-0 p-0 mb-3">@Model.Overview</p>

                    <p class="card-text text-muted mb-2">@StringFunctions.ConvertGenreObjectsListToStringOfNames(Model.Genres)</p>

                    <p class="card-text">
                        <a href="@Model.Homepage" target="_blank">Movie home page</a>
                    </p>


                </div>
            </div>

        </div>
    </div>

</div>