@model MovieDetail;
@using MovieRecommender.Helper;
@{
    string tmdbImageUrlBase = "https://image.tmdb.org/t/p/w500";
    string defaultImageUrl = "https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80";
    string posterUrl = !String.IsNullOrWhiteSpace(@Model.PosterPath) ? String.Concat(tmdbImageUrlBase, @Model.PosterPath) : defaultImageUrl;
    string posterAlt = !String.IsNullOrWhiteSpace(@Model.PosterPath) ? "Movie Poster" : "Default Movie Poster";
    string score = @Model.Rating.ToString();
    string year = @StringFunctions.FormatMovieYear(@Model.ReleaseDate);
    string runtime = @Model.Runtime; // TODO: convert to h:m
    string language = @StringFunctions.GetLanguageName(@Model.Language);
    string genres = @StringFunctions.ConvertGenreObjectsListToStringOfNames(Model.Genres);
}

<div class="grid-container m-0 p-1 p-md-3">

    <div class="movie-detail-img me-3">
        <img class="card-img-top" alt="@posterAlt" src="@posterUrl" data-holder-rendered="true" />
    </div>

    <div class="movie-detail-title m-0 p-0">
        <h1 class="card-title m-0 p-0 text-light fs-2">@Model.Title</h1>
    </div>
    
    <div class="movie-detail-score p-0 me-1 me-md-3">
        <p class="card-text m-0 text-muted fs-2 ms-0 ms-md-4">@score</p>
    </div>
    
    <div class="movie-detail-spec m-0 p-0">
    <p class="card-text text-muted m-0">@year | @runtime minutes | @language </p>
    </div>

    <div class="movie-detail-overview m-0 mt-3 mt-md-0 p-0">
        <p class="card-text text-light">@Model.Overview</p>
    </div>

    <div class="movie-detail-genres m-0 p-0">
        <p class="card-text text-muted m-0 p-0 pe-4">Genres: @genres</p>
    </div>

    <div class="movie-detail-directedby m-0 p-0">
        <p class="card-text text-muted m-0 p-0 pe-4">Directed by: _______</p>
    </div>

    <div class="movie-detail-cast ms-md-3 pt-3">
        @foreach (var actor in Model.Cast.Take(5))
        {
            <div class="d-flex flex-row px-0 p-2 p-md-1">
                <div class="detail-page-image-box">
                    <img class="detail-page-actor-image w-100 h-100" src="@String.Concat(tmdbImageUrlBase,actor.Image)">
                </div>
                <div class="d-flex flex-column p-2">
                    <p class="card-text text-light p-0 m-0">@actor.Name</p>
                    <p class="card-text text-muted">@actor.Character</p>
                </div>
            </div>
        }
    </div>
        
    <div class="movie-detail-recommend-button card-text text-muted mb-3">
        <a asp-action="Recommendations" asp-route-movieId="@Model.Id" class="btn bg-mov-theme-yellow">
            Recommend similar
        </a>
    </div>

</div>