@using MovieRecommender.Helper;
@model MovieRecommendationsModel
@{
    string tmdbImageUrlBase = "https://image.tmdb.org/t/p/original";
    string defaultImageUrl = "https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80";
    int pageMinusOne = Model.Page - 1;
    int pageNumber = Model.Page;
    int pagePlusOne = Model.Page + 1;
}

<div class="card mt-5 m-3 p-3 d-inline-flex bg-light bg-transparent border-0">

    <h2 class="text-light">Movies similar to @Model.SearchTitle</h2>

    @* Page numbers *@
    <p class="text-muted fs-5">
        Page
        @{
            if(Model.TotalPages > 10)
            {
                @if(pageMinusOne != 1 && pageNumber != 1) {
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=1>1</a>
                    <a class="text-muted text-decoration-none">...</a>
                }
                @if(pageMinusOne >= 1) {
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@pageMinusOne>@pageMinusOne</a>
                }

                // Current Page:
                <a class="text-mov-theme text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@pageNumber>@pageNumber</a>

                @if(pagePlusOne <= Model.TotalPages){
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@pagePlusOne>@pagePlusOne</a>
                }
                @if (pagePlusOne != Model.TotalPages && pageNumber != Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none">...</a>
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@Model.TotalPages>@Model.TotalPages</a>
                }
            }
            else
            {
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if(i == pageNumber)
                    {
                        <a class="text-mov-theme" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@i>@i</a>
                    } 
                    else
                    {
                        <a class="text-light" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@i>@i</a>
                    }
                    
                }
            }
        }
        
    </p>

    <div class="album">
        <div class="d-flex flex-wrap">

            @foreach (var movie in Model.Movies)
            {
                <div class="d-flex my-2 flex-row bg-mov-theme-dark text-light w-100" style="min-width: 450px">

                    <a asp-action="Detail" asp-route-movieId="@movie.Id">
                        <div class="poster-box">
                            @if (!String.IsNullOrWhiteSpace(@movie.PosterPath))
                            {
                                <img class="img-fluid" alt="Movie Poster" src="@String.Concat(tmdbImageUrlBase, @movie.PosterPath)" data-holder-rendered="true">

                            }
                            else
                            {
                                <img class="img-fluid" alt="Default Movie Poster" src="@defaultImageUrl" data-holder-rendered="true">
                            }
                        </div>
                    </a>

                    <div class="card-body d-flex align-items-start justify-content-between flex-column">
                        <h6 class="card-title m-0 p-0"><strong>@movie.Title</strong></h6>
                        <div class="d-flex flex-row">
                            <p class="card-text text-light m-0 p-0 pe-4">@StringFunctions.FormatMovieYear(@movie.ReleaseDate)</p>
                            <p class="card-text text-light m-0 p-0 pe-4">@StringFunctions.GetLanguageName(@movie.Language)</p>
                            <p class="card-text text-light m-0 p-0">@movie.Score / 10</p>
                        </div>
                        <p class="card-text text-light mb-2">@StringFunctions.ConvertGenreIdsToNames(movie.GenreIds)</p>
                        <a asp-action="Recommendations" asp-route-movieId="@movie.Id" class="btn bg-mov-theme-yellow">Recommend similar movies</a>
                    </div>

                </div>

            }
        </div>
    </div>

    <p class="text-muted fs-5">
        Page
        @{
            if (Model.TotalPages > 10)
            {
                @if (pageMinusOne != 1 && pageNumber != 1)
                {
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=1>1</a>
                    <a class="text-muted text-decoration-none">...</a>
                }
                @if (pageMinusOne >= 1)
                {
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@pageMinusOne>@pageMinusOne</a>
                }

                // Current Page:
                <a class="text-mov-theme text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@pageNumber>@pageNumber</a>

                @if (pagePlusOne <= Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@pagePlusOne>@pagePlusOne</a>
                }
                @if (pagePlusOne != Model.TotalPages && pageNumber != Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none">...</a>
                    <a class="text-muted text-decoration-none" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@Model.TotalPages>@Model.TotalPages</a>
                }
            }
            else
            {
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a class="text-light" asp-action="Recommendations" asp-route-movieId=@Model.MovieId asp-route-page=@i>@i</a>
                }
            }
        }

    </p>

</div>