@using MovieRecommender.Helper;
@model MovieSearchResults
@{
    string tmdbImageUrlBase = "https://image.tmdb.org/t/p/original";
    string defaultImageUrl = "https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80";
}

<div class="card mt-5 m-3 p-3 d-flex bg-light bg-transparent">

    <h2 class="text-light">Your movie search results</h2>

    <div class="d-flex flex-row align-items-center m-2 text-light">
        Page
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
                <form method="post" action="SearchByTitle">
                <div hidden class="form-group mt-3" style="width: 20rem;">
                    <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                    <input asp-for="Page" type="text" class="form-control" value="@i">
                </div>

                <button class="border-0 bg-transparent text-light" type="submit">@i</button>
            </form>
        }
    </div>

    <div class="album py-2">
        <div class="d-flex justify-content-center flex-wrap">

            @foreach (var movie in Model.Movies)
            {
                <div class="d-flex flex-row m-2 bg-mov-theme-dark text-light" style="width:45%">
                
                    <a asp-action="Detail" asp-route-movieId="@movie.Id">
                        <div class="poster-box">
                            @if (!String.IsNullOrWhiteSpace(@movie.PosterPath))
                            {
                                <img class="img-fluid" alt="Movie Poster" src="@String.Concat(tmdbImageUrlBase, @movie.PosterPath)" data-holder-rendered="true">
                        
                            }
                            else
                            {
                                <img class="img-fluid" alt="Default Movie Poster" src="@defaultImageUrl" data-holder-rendered="true">
                            }
                        </div>
                    </a>

                    <div class="card-body d-flex align-items-start justify-content-between flex-column">
                        <h6 class="card-title m-0 p-0"><strong>@movie.Title</strong></h6>
                        <div class="d-flex flex-row">
                            <p class="card-text text-light m-0 p-0 pe-4">@StringFunctions.FormatMovieYear(@movie.ReleaseDate)</p>
                            <p class="card-text text-light m-0 p-0 pe-4">@StringFunctions.GetLanguageName(@movie.Language)</p>
                            @if(movie.VoteCount > 0)
                            {
                                <p class="card-text text-light m-0 p-0">@movie.Score / 10</p>
                            }
                        </div>
                        <p class="card-text text-light mb-2">@StringFunctions.ConvertGenreIdsToNames(movie.GenreIds)</p>
                        <a asp-action="Recommendations" asp-route-movieId="@movie.Id" class="btn bg-mov-theme-yellow">Recommend similar movies</a>
                    </div>

                </div>

            }
        </div>
    </div>

</div>
