@using MovieRecommender.Helper;
@model MovieSearchResults
@{
    string tmdbImageUrlBase = "https://image.tmdb.org/t/p/original";
    string defaultImageUrl = "https://images.unsplash.com/photo-1560109947-543149eceb16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80";
    int pageMinusOne = Model.Page - 1;
    int pageNumber = Model.Page;
    int pagePlusOne = Model.Page + 1;
}

<div class="container m-0 p-0">

    <h1 class="text-mov-theme">Search results for "@Model.SearchTitle"  </h1>

    @* Page numbers *@
    <div class="text-muted fs-5">
        Page
        @{
            if (Model.TotalPages > 10)
            {
                @if (pageMinusOne != 1 && pageNumber != 1)
                {

                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="1">
                            </div>
                            <button class="border-0 bg-transparent text-muted" type="submit">1</button>
                        </form>
                    </a>

                    <a class="text-muted text-decoration-none">...</a>
                }
                @if (pageMinusOne >= 1)
                {
                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@pageMinusOne">
                            </div>
                            <button class="border-0 bg-transparent text-muted" type="submit">@pageMinusOne</button>
                        </form>
                    </a>
                }

                // Current Page:
                <a>
                    <form class="d-inline-block" method="post" action="SearchByTitle">
                        <div hidden class="form-group mt-3" style="width: 20rem;">
                            <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                            <input asp-for="Page" type="text" class="form-control" value="@pageNumber">
                        </div>
                        <button class="page-number-button border-0 bg-transparent text-mov-theme" type="submit">@pageNumber</button>
                    </form>
                </a>

                @if (pagePlusOne <= Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@pagePlusOne">
                            </div>
                            <button class="page-number-button border-0 bg-transparent text-muted" type="submit">@pagePlusOne</button>
                        </form>
                    </a>
                }
                @if (pagePlusOne != Model.TotalPages && pageNumber != Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none">...</a>

                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@Model.TotalPages">
                            </div>
                            <button class="page-number-button border-0 bg-transparent text-muted" type="submit">@Model.TotalPages</button>
                        </form>
                    </a>
                }
            }
            else
            {
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@i">
                            </div>
                            @if(i == pageNumber)
                            {
                                <button class="page-number-button border-0 bg-transparent text-mov-theme" type="submit">@i</button>
                            }
                            else
                            {
                                <button class="page-number-button border-0 bg-transparent text-muted" type="submit">@i</button>
                            }

                        </form>
                    </a>
                }
            }
        }
    </div>

    @* Movie search results *@
    <div class="container m-0 p-0">
        <div class="row m-0 p-0 g-2 g-md-3">
            
            @foreach (var movie in Model.Movies)
            {
                string posterUrl = !String.IsNullOrWhiteSpace(@movie.PosterPath) ? String.Concat(tmdbImageUrlBase, @movie.PosterPath) : defaultImageUrl;
                string posterAlt = !String.IsNullOrWhiteSpace(@movie.PosterPath) ? "Movie Poster" : "Default Movie Poster";

                if (movie.GenreIds.Count() != 0)
                {
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card movie-card bg-mov-theme-dark">
                        <img class="card-img-top position-relative" alt="@posterAlt" src="@posterUrl" data-holder-rendered="true" />
                        <div class="card-img-overlay p-0 h-25">
                            <p class="card-text text-light text-center bg-mov-theme-dark"><strong>@movie.Title</strong></p>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <p class="card-text text-light m-0 p-0">@movie.Score / 10</p>
                            <a asp-action="Detail" asp-route-movieId="@movie.Id" class="text-mov-theme border-0 text-decoration-none">
                                Details
                            </a>
                        </div>
                    </div>
                    </div>
                }
            }
        </div>    
    </div>

    @* Page numbers *@
    <div class="text-muted fs-5">
        Page
        @{
            if (Model.TotalPages > 10)
            {
                @if (pageMinusOne != 1 && pageNumber != 1)
                {

                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="1">
                            </div>
                            <button class="border-0 bg-transparent text-muted" type="submit">1</button>
                        </form>
                    </a>

                    <a class="text-muted text-decoration-none">...</a>
                }
                @if (pageMinusOne >= 1)
                {
                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@pageMinusOne">
                            </div>
                            <button class="border-0 bg-transparent text-muted" type="submit">@pageMinusOne</button>
                        </form>
                    </a>
                }

                // Current Page:
                <a>
                    <form class="d-inline-block" method="post" action="SearchByTitle">
                        <div hidden class="form-group mt-3" style="width: 20rem;">
                            <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                            <input asp-for="Page" type="text" class="form-control" value="@pageNumber">
                        </div>
                        <button class="page-number-button border-0 bg-transparent text-mov-theme" type="submit">@pageNumber</button>
                    </form>
                </a>

                @if (pagePlusOne <= Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@pagePlusOne">
                            </div>
                            <button class="page-number-button border-0 bg-transparent text-muted" type="submit">@pagePlusOne</button>
                        </form>
                    </a>
                }
                @if (pagePlusOne != Model.TotalPages && pageNumber != Model.TotalPages)
                {
                    <a class="text-muted text-decoration-none">...</a>

                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@Model.TotalPages">
                            </div>
                            <button class="page-number-button border-0 bg-transparent text-muted" type="submit">@Model.TotalPages</button>
                        </form>
                    </a>
                }
            }
            else
            {
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a class="text-muted text-decoration-none">
                        <form class="d-inline-block" method="post" action="SearchByTitle">
                            <div hidden class="form-group mt-3" style="width: 20rem;">
                                <input asp-for="SearchTitle" type="text" class="form-control" value="@Model.SearchTitle">
                                <input asp-for="Page" type="text" class="form-control" value="@i">
                            </div>
                            @if (i == pageNumber)
                            {
                                <button class="page-number-button border-0 bg-transparent text-mov-theme" type="submit">@i</button>
                            }
                            else
                            {
                                <button class="page-number-button border-0 bg-transparent text-muted" type="submit">@i</button>
                            }

                        </form>
                    </a>
                }
            }
        }
    </div>

</div>
